.teamSection {
  padding-top: 150px;
  font-family: Inter, sans-serif;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.sectionLabel {
  display: inline-block;
  border: 1px solid #055042;
  border-radius: 20px;
  padding: 10px 16px;
  color: #055042;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 111px;
}

.title {
  font-size: 64px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: #4d4d4d;
  text-transform: uppercase;

  span {
    color: #055042;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 210px;
  gap: 24px;
  min-height: 328px;
}

.card {
  background: url('/mockImg/Team/card-background.jpg');
  border-radius: 12px;
  width: 400px;
  height: 328px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.dotsPattern {
  position: absolute;
  top: 19px;
  right: 34px;
  z-index: 1;
}

.linesPattern {
  position: absolute;
  bottom: 0;
  right: 0;
}

.linesPatternBottom {
  position: absolute;
  top: 0;
  left: 0;
}

.circleLines {
  position: absolute;
  left: 29px;
  bottom: 94px;
}

.avatar {
  width: 78px;
  height: 78px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  margin: 18px 0 0 18px;
}

.cardInfo {
  position: relative;
  z-index: 2;
  text-align: left;
  margin: 0 0 21px 18px;
  font-family: Helvetica, Arial, sans-serif;

  h3 {
    font-size: 38px;
    color: #055042;
    margin: 0;
  }

  p {
    font-size: 16px;
    color: #4d4d4d;
  }
}

.cardRightAligned {
  align-items: flex-end;
}

.avatarRight {
  margin: 18px 18px 0 auto;
}

.cardInfoRight {
  margin: 0 18px 21px auto;
  text-align: right;
  font-family: Helvetica, Arial, sans-serif;

  h3,
  p {
    text-align: right;
  }
}

.textBlock {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 328px;
  padding-bottom: 11px;

  p {
    margin: 0;
    color: #2d2d2d;
    font-size: 16px;
    line-height: 1.6;
  }

  &Left {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
  }

  &Right {
    text-align: left;
    justify-content: space-between;

    @media (width <= 360px) {
      display: contents;
    }
  }
}

@media (width <= 360px) {
  .teamSection {
    padding-top: 60px;
  }

  .header {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .sectionLabel {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
    text-align: left;
    margin: 0;
    color: #055042;
  }

  .row {
    flex-direction: column;
    gap: 20px;
    margin: 0 0 20px;
    min-height: auto;
    align-items: stretch;
  }

  .card {
    max-width: 310px;
    max-height: 186px;
    order: 2;
  }

  .mobileOrder1 {
    order: 1;
  }

  .mobileOrder3 {
    order: 3;
  }

  .mobileOrder4 {
    order: 4;
  }

  .mobileOrder5 {
    order: 5;
  }

  .cardRightAligned {
    align-items: flex-start;
  }

  .dotsPattern {
    width: 31px;
    height: 40px;
    top: 10px;
    right: 30px;
  }

  .cardInfo {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }

  .linesPatternBottom {
    top: 0;
    right: 0;
    left: auto;
  }

  .circleLines {
    left: auto;
    bottom: 1px;
    right: 7px;
    width: 41px;
    height: 41px;
  }

  .avatarRight {
    margin: 18px 0 0 18px;
  }

  .cardInfoRight {
    margin: 0 0 21px 18px;
    text-align: left;

    h3,
    p {
      text-align: left;
    }
  }

  .textBlockLeft {
    text-align: left;
    height: auto;
    padding: 0;
  }
}
