.accordionContainer {
  margin-bottom: 4.9375rem; // 79px
}

.accordionItem {
  border-bottom: 1px solid #ddd;
}

.accordionQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.25rem; // 20px
  padding: 1.25rem 0 0.625rem; // 20px 0 10px
  text-transform: uppercase;
  text-align: left;
  color: #191919;
}

.accordionItem:first-child .accordionQuestion {
  border-top: 1px solid #ddd;
}

.accordionAnswer {
  padding-bottom: 1.25rem; // 20px
  color: #4d4d4d;
  text-align: left;
  max-width: 55rem; // 880px
}

.plusIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem; // 4px
  transition: transform 0.3s ease;
  width: 3.125rem; // 50px по умолчанию
  height: 3.125rem;
}

@media (width <= 360px) {
  .accordionContainer {
    margin-bottom: 3.75rem; // 60px
  }

  .accordionQuestion {
    padding: 1rem 0; // 16px 0px
    font-weight: 300;
    font-size: 1.125rem; // 18px
  }

  .accordionAnswer {
    font-size: 1rem; // 16px
  }

  .plusIcon svg {
    width: 1.5rem; // 24px
    height: 1.5rem; // 24px
  }
}
