.accordionContainer {
  margin-bottom: 79px;
}

.accordionItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding: 15px 0;
}

.plusIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 50px;
  min-height: 50px;
  transform-origin: center center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.accordionQuestion {
  font-size: 20px;
  display: flex;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #191919;
}

.accordionItem:first-child {
  border-top: 1px solid #ddd;
}

.accordionAnswer {
  text-align: left;
  max-width: 880px;
  color: #4d4d4d;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.questionText {
  transform: translateY(17px);
  display: inline-block;
}

@media (width <= 360px) {
  .accordionContainer {
    margin-bottom: 60px;
  }

  .accordionQuestion {
    padding: 16px 0;
    font-weight: 300;
    font-size: 18px;
  }

  .accordionAnswer {
    font-size: 16px;
  }

  .plusIcon svg {
    width: 24px;
    height: 24px;
  }
}
